<section>
  <div class="mx-auto max-w-6xl px-8 py-12 lg:pt-24">
    <div class="mx-auto max-w-xl">
      <div>
        <div class="md:flex md:items-center md:justify-between md:space-x-5">
          <div class="flex items-center space-x-5">
            <div class="pt-1.5">
              <h1 class="lg:text-xl text-black dark:text-white">
                Derrick Cui
              </h1>
              <p class="text-sm font-light text-neutral-500">
                UC Berkeley '25, Computer Science and Business Administration (Haas)
              </p>
              <a
                class="text-xs underline hover:no-underline duration-200 dark:text-white pr-4"
                href="https://www.linkedin.com/in/derrick-cui/">LinkedIn</a
              >
              <a
                class="text-xs underline hover:no-underline duration-200 dark:text-white pr-4"
                href="https://twitter.com/zeebradoom">Twitter</a
              >
              <a
                class="text-xs underline hover:no-underline duration-200 dark:text-white pr-4"
                href="mailto:derrick_cui@berkeley.edu">Email</a
              >
              <a
                class="text-xs underline hover:no-underline duration-200 dark:text-white pr-4"
                href="https://github.com/Zeebradoom">Github</a
              >
            </div>
          </div>
        </div>
        <div class="md:grid md:grid-cols-4 md:gap-8">
          <!-- Left Column for Headers -->
          <div class="md:col-span-1 text-sm font-light">
              <p class="text-black dark:text-white pt-8">About</p>
              <p class="text-black dark:text-white pt-16">Interests</p>
              <p class="text-black dark:text-white pt-30">Currently</p>
              <p class="text-black dark:text-white pt-30">Previously</p>
              <p class="text-black dark:text-white pt-30">Notable Courses Taken</p>
          </div>

          <!-- Right Column for Content -->
          <div class="md:col-span-3 space-y-8">
            <!-- About Content -->
            <div class="text-sm font-light">
              <div class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3">
                <p>
                  Learning stuff, building things, and losing my mind
                </p>
              </div>
            </div>

            <!-- Interests Content -->
            <div class="text-sm font-light">
              <div class="text-neutral-500 dark:text-neutral-400 space-y-3">
                <p>
                  Crypto enthusiast, <a class="underline" href="https://www.youtube.com/watch?v=cZYNADOHhVY">Longevity Believer</a>, The Economist Enjoyer, White Paper Reader, Polymarket Gambler
                </p>
              </div>
            </div>
            
            <!-- Current Responsibilities Content -->
            <div class="text-sm font-light">
              <div class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3">
                <p>
                  Intern at <a class="underline" href="https://panteracapital.com/">Pantera Capital</a> (writing investment memos, doing governance, and writing for existing companies + research topics), 
                  Head of Governance at <a class="underline" href="https://blockchain.berkeley.edu/">Blockchain at Berkeley</a> (managing the ~10 DAOs we have delegations for, building tools for Compound DAO),
                  Resident Assistant, Lead Staff at UC Berkeley's Gaming Center.
                </p>
              </div>
            </div>

            <!-- Previous Responsibilities Content -->
            <div class="text-sm font-light">
              <div class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3">
                <p>
                  SWE Intern at <a class="underline" href="https://capitalmarkets.bmo.com/en/">BMO Capital Markets</a> (Jun 2023 - Aug 2023),
                  President of <a class="underline" href="https://www.nextgenconsulting.org/">Next Gen Consulting</a> (Aug 2023 - Dec 2023) + PM / Analyst for the NPR, Sephora, Lattice projects,
                  Product Manager for the Algorand project at <a class="underline" href="https://blockchain.berkeley.edu/">Blockchain at Berkeley</a> (Aug 2023 - May 2024), 
                  Venture Scout at <a class="underline" href="https://somacap.com/">Soma Capital</a> (Jan 2023 - May 2024),
                  Frontend Engineer at <a class="underline" href="https://www.comstruct.com//">comstruct</a> (Dec 2021 - Aug 2022),
                  Mentor for Data Structures Course (CS 61B) at <a class="underline" href="https://csmentors.studentorg.berkeley.edu/#/">UC Berkeley</a> (Jan 2023 - Aug 2023),
                  Writing at <a class="underline" href="https://www.thedailycal.org/">Blue and Gold Yearbook</a> (Aug 2021 - Dec 2021)
                </p>
              </div>
            </div>

            <!-- Courses Taken Content -->
            <div class="text-sm font-light">
              <div class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3">
                <p>
                  <a class="underline" href="https://sp24.datastructur.es/">Data Structures and Algorithms</a>, 
                  <a class="underline" href="https://zk-learning.org//">Zero Knowledge Proofs</a>,
                  <a class="underline" href="https://eecs171.com/">Cryptography</a>,
                  <a class="underline" href="https://ds100.org/fa23/">Principles of Data Science</a>,
                  <a class="underline" href="https://cs170.org/">Efficient Algorithms</a>,
                  <a class="underline" href="https://philosophy.berkeley.edu/courses/detail/1624">Intermediate Logic</a>,
                  <a class="underline" href="https://classes.berkeley.edu/content/2024-spring-ugba-102a-001-lec-001">Financial Accounting</a>,
                  <a class="underline" href="https://classes.berkeley.edu/content/2024-spring-econ-100b-001-lec-001">Macroeconomics</a>,
                  <a class="underline" href="https://fa24.cs168.io/">Internet Architecture and Protocols</a>,
                  <a class="underline" href="https://classes.berkeley.edu/content/2024-spring-ugba-103-001-lec-001">Finance</a>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
