<section>
  <div class="mx-auto max-w-6xl px-8 py-12 lg:pt-24">
    <div class="mx-auto max-w-xl">
      <div>
        <div class="md:flex md:items-center md:justify-between md:space-x-5">
          <div class="flex items-center space-x-5">
            <div class="pt-1.5">
              <h1 class="lg:text-xl text-black dark:text-white">
                Derrick Cui
              </h1>
              <p class="text-sm font-light text-neutral-500">
                UC Berkeley '25, Computer Science and Business Administration (Haas)
              </p>
                <a
                  class="text-xs underline hover:no-underline duration-200 dark:text-white pr-4"
                  href="https://www.linkedin.com/in/derrick-cui/">LinkedIn</a
                >
                <a
                  class="text-xs underline hover:no-underline duration-200 dark:text-white pr-4"
                  href="https://twitter.com/zeebradoom">Twitter</a
                >
                <a
                  class="text-xs underline hover:no-underline duration-200 dark:text-white pr-4"
                  href="mailto:derrick_cui@berkeley.edu">Email</a
                >
                <a
                  class="text-xs underline hover:no-underline duration-200 dark:text-white pr-4"
                  href="https://github.com/Zeebradoom">Github</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="md:grid md:grid-cols-4 md:gap-8">
        {/* Left Column for Headers */}
        <div class="md:col-span-1 text-sm font-light">
            <p class="text-black dark:text-white pt-11">About</p>
            <p class="text-black dark:text-white pt-4">Interests</p>
            <p class="text-black dark:text-white pt-14">Currently</p>
        </div>

        {/* Right Column for Content */}
        <div class="md:col-span-3 space-y-8">
          {/* About Content */}
          <div class="text-sm font-light">
            <div class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3 pt-8">
              <p>
                Learning stuff, building things, and losing my mind
              </p>
              <p>
                Crypto enthusiast, <a class="underline" href="https://www.youtube.com/watch?v=cZYNADOHhVY">Longevity Believer</a>, Economist Enjoyer, White Paper Reader, Internship Searcher
              </p>
            </div>
          </div>
          
          {/* Current Responsibilities Content */}
          <div class="text-sm font-light">
            <div class="text-neutral-500 dark:text-neutral-400 space-y-3 mt-3">
              <p>
                President of <a class="underline" href="https://www.nextgenconsulting.org/">Next Gen Consulting</a>, 
                Product Manager for the Algorand project and Head of Governance at <a class="underline" href="https://blockchain.berkeley.edu/">Blockchain at Berkeley</a>, 
                Venture Scout at <a class="underline" href="https://somacap.com/">Soma Capital</a>, Resident Assistant, Lead Staff at UC Berkeley's Gaming Center.
              </p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
